<h1>Hotel Rooms</h1>

<table>
  <tr>
    <th width="150"><u>Room Number</u></th>
    <th width="150"><u>Room Floor</u></th>
    <th width="150"><u>Room Picture</u></th>
    <th width="150"><u>Room Type</u></th>
    <th width="150"><u>Room Price</u></th>
    <th width="150"><u>Hotel</u></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><center><%= room.roomNum %></center></td>
    <td><center><%= room.roomFloor %></center></td>
    <td><center><%= image_tag(room.roomPic, :size => "150x100") %></center></td>
    <td><center><%= room.roomType %></center></td>
    <td><center><%= room.roomPrice %></center></td>
    <td><center><%= room.hotel.hotelName %></center></td>
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
