<%= form_for(@hotel) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :hotelName %>
  </div>
  <div class="field">
    <%= f.label :Picture %><br />
    <%= f.text_field :hotelPicture %>
  </div>
  <div class="field">
    <%= f.label :Location %><br />
    <%= f.text_field :hotelLocation %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br />
    <%= f.text_field :hotelPhone %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :hotelEmail %>
  </div>
  <div class="field">
    <%= f.label :'Number Of Rooms' %><br />
    <%= f.number_field :hotelNumOfRooms %>
  </div>
  <div class="field">
    <%= f.label :Latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :Longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
